---
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
import "@fontsource-variable/merriweather";

import "@styles/global.css";
---

<html lang="en" class="scroll-smooth scrollbar-hide">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body
        class="bg-primary text-tertiary antialiased selection:bg-brand-solid selection:text-primary_on-brand"
    >
        <slot />
    </body>
</html>
