---
type Props = {
    variant: "pill" | "modern";
};

const { variant = "modern" } = Astro.props;
---

<div
    class:list={[
        "py-0.5 px-1.5 flex items-center gap-1.5 border font-medium text-sm",
        variant === "pill"
            ? "px-2.5 bg-utility-brand-50 border-utility-brand-200 rounded-full text-utility-brand-700"
            : "bg-primary border-primary drop-shadow-xs rounded-md ",
    ]}
>
    <slot />
</div>
